#playingArea{
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: rgb(192,192,192);
}
#paddle{
    position: relative;
    left: 228px;
    z-index: 1000;
}
#ball{
    position: absolute;
    top: 4px;
    left: 200px;
    width: 16px;
    height: 16px;
}
#score{
    position: absolute;
    top: 486px;
    left: 0;
    width: 500px;
    height: 14px;
    font-size: 10pt;
    color: white;
    background-color: rgb(32,128,64);
}
#goButton{
    text-align: center;
    line-height: 33px;
    font-size: 20px;
}
.goActive{
    position: relative;
    top: 550px;
    left: 315px;
    width: 60px;
    height: 35px;
    background-color: #228b22;
    border-radius: 5px;
    color: #f8f8ff;
    cursor: pointer;
}
.goInactive{
    width: 1px;
    height: 1px;
    position: absolute;
    left: -500px;
    overflow: hidden;
}